.add-board-modal-content {
  width: 30rem;
  margin-top: 3.5rem !important;
  background: transparent;
}

.add-board-modal-content input {
  background: rgba(0, 0, 0, 0.2);
}

.add-board-modal-content input:hover {
  background: rgba(0, 0, 0, 0.4);
}

.add-board-modal-content input:focus {
  background: rgba(0, 0, 0, 0.7);
  outline: none;
}

.details-modal-container {
  width: 70%;
  background: #f4f4f4;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 3.3rem;
  border-radius: 0.2em;
}

.details-modal-header {
  padding-bottom: 1rem;
}

.details-modal-header .close {
  font-size: 2rem;
}

.details-modal-body {
  padding-top: 1rem;
}

.fast-edit-modal-right {
  height: 6.4rem !important;
  padding: 0.2rem;
  background: white;
  border-radius: 0.25rem;
}

.fast-edit-modal-right textarea {
  font-family: 'Roboto', sans-serif;
  height: 6rem !important;
  resize: none;
  font-size: 0.9rem;
}

.fast-edit-modal-right textarea:focus {
  outline: none;
}

.fast-edit-modal-action {
  display: block;
  margin-bottom: 0.2rem
}

.fast-edit-modal-action-btn {
  background: rgba(34, 34, 34, 0.8);
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #f4f4f4;
  font-size: 0.9rem;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: 0.15s;
}

.fast-edit-modal-action-btn:hover {
  margin-left: .3rem;
  background: rgba(34, 34, 34, 1);
}

.fast-edit-modal-action-container {
  animation: tempAnim 100ms ease-in;
  margin-left: 0;
}

/* optiosn modal */
#options-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: 0s;
}

.options-modal-container {
  position: absolute;
  border-radius: 0.25rem;
  background: white;
  width: 300px;
  padding: 0.6rem;
  transition: 0s;
}

.options-modal-header {
  font-size: 0.95rem;
  border-bottom: 1px solid var(--light-color);
  padding: 0.7rem 0.5rem;
  padding-top: 0;
  text-align: center;
}

.options-modal-body {
  padding: 0.7rem;
}

@keyframes tempAnim {
  from {
    margin-left: -1rem;
  }
  to {
    margin-left: 0;
  }
}


