/*
 *** all this file is to let main panel in  baore page get the remaining height of the page
*/

html,
body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

#all-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.trello-board-main-wrapper {
  flex-grow: 1;
}

/* 
  bottom of this comes the css for making the lists scroll if the list is longer than the page
*/

.trello-board-main {
  margin-bottom: .5rem;
  padding-bottom: 5rem;
  margin-right: .5rem;
  margin-left: .5rem;
  overflow-x: auto;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(20, 1fr);
}

.trello-board-list-wrapper {
  width: 270px !important;
  margin-bottom: 10px;
  height: 100%;
}

.trello-board-list {
  margin-bottom: 10px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.trello-board-list-header {
  flex: 0 0 auto;
  min-height: 20px;
}

.trello-board-list-items {
  /* position: absolute; */
  /* display: grid; */
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: scroll;
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0; */
  /* left: 0; */
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: repeat(20, 1fr); */
}

.trello-board-list-item {
  margin-top: 0 !important;
  /* padding-bottom: 0 !important; */
}

.trello-board-list-footer {
  height: initial
}