/*
 *** all this file is to let main panel in  baore page get the remaining height of the page
*/

html,
body {
  height: 100%;
  overflow: none;
}

#root {
  display: flex;
  flex-flow: column;
  height: 100%;
  
}

.trello-board-main-wrapper {
  flex-grow: 1;
}